.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 2px 4px var(--gray-3);
    position: sticky;
    top: 0;
    background-color: white;
}

.header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
